<div id="homepage" v-cloak>
  <div style="padding-top: 100px; padding-bottom: 25px; color: #14acc2;" class="d-flex flex-column justify-content-center position-relative" purpose="full-page-hero">
    <div class="container text-center">
      <h1 class="display-4 pb-2">Bem-vindo a <strong>Cesta Feira!</strong></h1>
      <div>
        <div style="cursor: pointer; bottom: 25px; left: 0;" class="position-absolute w-100 mt-5" purpose="more-info-text" @click="clickHeroButton()">
          <div style="letter-spacing: 2px;" class="text-uppercase font-weight-bold">Vamos lá!</div>
          <div style="font-size: 20px;">&darr;</div>
        </div>
      </div>
    </div>
  </div>
  <div style="background-color: rgba(238, 245, 249, 0.72);" class="text-center py-5" purpose="scroll-destination">
    <div class="container pt-1 pb-5" purpose="about-section">
      <h3>Aqui você encontra frutas fresquinhas!</h3>
      <div class="row pt-5">
        
      <% if(typeof produtos !== 'undefined' && typeof categorias !== 'undefined') { %>
        
        <% produtos.map(produto => { 
          if(produto.quantidade>0){ %>
          
          <div class="mb-4 mb-sm-0 col-sm">
            <div style="font-size: 35px; line-height: 150px; height: 160px; width: 150px;" class="rounded-circle mx-auto text-center mb-3 d-flex justify-content-center">
              <img src="<%= produto.foto %>" style="max-width: 150px; height: auto;"/>
            </div>
            <h4><%= produto.descricao %></h4>
            <h5 style='font-size: 15px; '><%= produto.preco.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}) %></h5>
            
            <a class="btn btn-outline-info mt-3" @click="addToBasket(<%= produto.id %>)" >Adicionar ao carrinho!</a>
          </div>
        <% }})
        } %>
        <!-- <div class="pt-4 pt-sm-0 mb-4 mb-sm-0 col-sm">
          <div style="font-size: 35px; line-height: 150px; height: 150px; width: 150px;" class="rounded-circle mx-auto d-flex text-center pb-5 m-auto d-flex justify-content-center">
            <div class="d-flex m-auto justify-content-between"><img src="images/frutas/banana.png" style="max-width: 150px; height: auto" /></div>
          </div>
          <h4>Bananas</h4>
          <p class="text-muted">Variedades de frutas</p>
        </div>
        <div class="pt-4 pt-sm-0 col-sm">
          <div style="font-size: 35px; line-height: 150px; height: 150px; width: 150px;" class="rounded-circle mx-auto text-center mb-3 d-flex justify-content-center">
            <img src="images/frutas/uva.png" style="max-width: 150px; height: auto"/>
          </div>
          <h4>Uvas</h4>
          <p class="text-muted">Variedades de frutas</p>
        </div> -->
      </div>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
